--
-- PostgreSQL database dump
--

\restrict 4xOp5OujVkm4SFnKN6USpXIOvN9uT4sn7MsRHN43eXNjYAPyWkRhQCkvOhq4jTU

-- Dumped from database version 16.10
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ChannelRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ChannelRole" AS ENUM (
    'OWNER',
    'ADMIN',
    'MEMBER'
);


ALTER TYPE public."ChannelRole" OWNER TO postgres;

--
-- Name: JoinRequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."JoinRequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."JoinRequestStatus" OWNER TO postgres;

--
-- Name: ReportScope; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReportScope" AS ENUM (
    'PUBLIC',
    'TEAM',
    'CHANNEL',
    'PRIVATE'
);


ALTER TYPE public."ReportScope" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Channel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Channel" (
    "channelId" uuid DEFAULT gen_random_uuid() NOT NULL,
    "channelName" character varying(100) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ownerId" uuid NOT NULL
);


ALTER TABLE public."Channel" OWNER TO postgres;

--
-- Name: ChannelMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ChannelMember" (
    "userId" uuid NOT NULL,
    "channelId" uuid NOT NULL,
    "teamId" uuid,
    role public."ChannelRole" DEFAULT 'MEMBER'::public."ChannelRole" NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ChannelMember" OWNER TO postgres;

--
-- Name: File; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."File" (
    "fileId" uuid DEFAULT gen_random_uuid() NOT NULL,
    "fileName" character varying(255) NOT NULL,
    "fileUrl" text NOT NULL,
    "fileSize" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "roomId" character varying(255) NOT NULL
);


ALTER TABLE public."File" OWNER TO postgres;

--
-- Name: JoinRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JoinRequest" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "channelId" uuid NOT NULL,
    status public."JoinRequestStatus" DEFAULT 'PENDING'::public."JoinRequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "processedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone
);


ALTER TABLE public."JoinRequest" OWNER TO postgres;

--
-- Name: Room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Room" (
    "roomId" character varying(255) NOT NULL,
    "roomTopic" character varying(255) NOT NULL,
    "roomDescription" text,
    "roomPassword" character varying(50),
    "roomShareLink" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "masterId" uuid NOT NULL,
    "channelId" uuid NOT NULL,
    "teamId" uuid,
    attendees text[] DEFAULT ARRAY[]::text[],
    token text
);


ALTER TABLE public."Room" OWNER TO postgres;

--
-- Name: RoomReport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RoomReport" (
    "reportId" character varying(255) NOT NULL,
    topic character varying(255) NOT NULL,
    description text,
    attendees text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "shareScope" public."ReportScope" DEFAULT 'CHANNEL'::public."ReportScope" NOT NULL,
    "specialAuth" uuid[] DEFAULT ARRAY[]::uuid[],
    "roomId" character varying(255) NOT NULL,
    "channelId" uuid NOT NULL,
    "teamId" uuid
);


ALTER TABLE public."RoomReport" OWNER TO postgres;

--
-- Name: Team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Team" (
    "teamId" uuid DEFAULT gen_random_uuid() NOT NULL,
    "teamName" character varying(100) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "channelId" uuid NOT NULL
);


ALTER TABLE public."Team" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    "userId" uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    "userPassword" character varying(255) NOT NULL,
    "nickName" character varying(100) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Channel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Channel" ("channelId", "channelName", "createdAt", "ownerId") FROM stdin;
ba13a3bf-0844-45b0-a408-96cd4186cad5	Krafton	2026-01-11 13:15:57.926	1b6910ba-46c6-4db5-bffa-8b56bcafb280
\.


--
-- Data for Name: ChannelMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ChannelMember" ("userId", "channelId", "teamId", role, "joinedAt") FROM stdin;
1b6910ba-46c6-4db5-bffa-8b56bcafb280	ba13a3bf-0844-45b0-a408-96cd4186cad5	b1015c28-e413-4d5e-8cec-c2285c604e8d	OWNER	2026-01-11 13:16:50.061
618bd30d-fd4b-4b02-a3be-a986bebd8875	ba13a3bf-0844-45b0-a408-96cd4186cad5	85a0786b-d081-4b95-8ec6-7754b767728c	ADMIN	2026-01-11 23:07:27.181
c337e05f-ee3c-4849-a9e2-d61e64399308	ba13a3bf-0844-45b0-a408-96cd4186cad5	b1015c28-e413-4d5e-8cec-c2285c604e8d	MEMBER	2026-01-11 23:04:25.551
\.


--
-- Data for Name: File; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."File" ("fileId", "fileName", "fileUrl", "fileSize", "createdAt", "roomId") FROM stdin;
\.


--
-- Data for Name: JoinRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JoinRequest" (id, "userId", "channelId", status, "createdAt", "processedAt", "expiresAt") FROM stdin;
6d6b9f31-b5b0-40db-8e0b-33011cf8e4bb	c337e05f-ee3c-4849-a9e2-d61e64399308	ba13a3bf-0844-45b0-a408-96cd4186cad5	APPROVED	2026-01-11 23:04:06.162	2026-01-11 23:04:25.525	2026-01-12 23:04:25.525
aa5131fd-e020-4ba5-9fb7-63570dd81527	618bd30d-fd4b-4b02-a3be-a986bebd8875	ba13a3bf-0844-45b0-a408-96cd4186cad5	APPROVED	2026-01-11 23:07:14.652	2026-01-11 23:07:27.156	2026-01-12 23:07:27.156
\.


--
-- Data for Name: Room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Room" ("roomId", "roomTopic", "roomDescription", "roomPassword", "roomShareLink", "createdAt", "masterId", "channelId", "teamId", attendees, token) FROM stdin;
\.


--
-- Data for Name: RoomReport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RoomReport" ("reportId", topic, description, attendees, "createdAt", "shareScope", "specialAuth", "roomId", "channelId", "teamId") FROM stdin;
\.


--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Team" ("teamId", "teamName", "createdAt", "channelId") FROM stdin;
b1015c28-e413-4d5e-8cec-c2285c604e8d	Development	2026-01-11 23:57:49.307	ba13a3bf-0844-45b0-a408-96cd4186cad5
85a0786b-d081-4b95-8ec6-7754b767728c	Design	2026-01-11 23:59:54.377	ba13a3bf-0844-45b0-a408-96cd4186cad5
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
f4656a9f-7661-4018-80a0-68acc56eaabf	5e5c8d2ae98906eda113c94a1918ef5f49a4a9f6a4898ca6b339f70259bf85e0	2026-01-11 13:02:59.94841+00	20260110150813_init	\N	\N	2026-01-11 13:02:59.868605+00	1
1da1f8b2-68de-40b5-9292-fd0ac456702c	4bee46ff6a088a75184695075ff2d3c2f931cce4003dd0f85b1c4863632d48dd	2026-01-11 13:03:10.724547+00	20260111130310_add_join_request	\N	\N	2026-01-11 13:03:10.674464+00	1
\.


--
-- Name: ChannelMember ChannelMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChannelMember"
    ADD CONSTRAINT "ChannelMember_pkey" PRIMARY KEY ("channelId", "userId");


--
-- Name: Channel Channel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Channel"
    ADD CONSTRAINT "Channel_pkey" PRIMARY KEY ("channelId");


--
-- Name: File File_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."File"
    ADD CONSTRAINT "File_pkey" PRIMARY KEY ("fileId");


--
-- Name: JoinRequest JoinRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JoinRequest"
    ADD CONSTRAINT "JoinRequest_pkey" PRIMARY KEY (id);


--
-- Name: RoomReport RoomReport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoomReport"
    ADD CONSTRAINT "RoomReport_pkey" PRIMARY KEY ("reportId");


--
-- Name: Room Room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_pkey" PRIMARY KEY ("roomId");


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY ("teamId");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY ("userId");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: JoinRequest_userId_channelId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JoinRequest_userId_channelId_key" ON public."JoinRequest" USING btree ("userId", "channelId");


--
-- Name: RoomReport_roomId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RoomReport_roomId_key" ON public."RoomReport" USING btree ("roomId");


--
-- Name: Room_roomShareLink_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Room_roomShareLink_key" ON public."Room" USING btree ("roomShareLink");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_nickName_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_nickName_key" ON public."User" USING btree ("nickName");


--
-- Name: ChannelMember ChannelMember_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChannelMember"
    ADD CONSTRAINT "ChannelMember_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."Channel"("channelId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChannelMember ChannelMember_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChannelMember"
    ADD CONSTRAINT "ChannelMember_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"("teamId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ChannelMember ChannelMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChannelMember"
    ADD CONSTRAINT "ChannelMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Channel Channel_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Channel"
    ADD CONSTRAINT "Channel_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: File File_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."File"
    ADD CONSTRAINT "File_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public."Room"("roomId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JoinRequest JoinRequest_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JoinRequest"
    ADD CONSTRAINT "JoinRequest_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."Channel"("channelId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JoinRequest JoinRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JoinRequest"
    ADD CONSTRAINT "JoinRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RoomReport RoomReport_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoomReport"
    ADD CONSTRAINT "RoomReport_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."Channel"("channelId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RoomReport RoomReport_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoomReport"
    ADD CONSTRAINT "RoomReport_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public."Room"("roomId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RoomReport RoomReport_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RoomReport"
    ADD CONSTRAINT "RoomReport_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"("teamId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Room Room_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."Channel"("channelId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Room Room_masterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_masterId_fkey" FOREIGN KEY ("masterId") REFERENCES public."User"("userId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Room Room_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"("teamId") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Team Team_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."Channel"("channelId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 4xOp5OujVkm4SFnKN6USpXIOvN9uT4sn7MsRHN43eXNjYAPyWkRhQCkvOhq4jTU

